@model System.Exception

@{ ViewBag.Title = "Error"; }

<div class="row">

    <div class="col-md-12" role="main">

        <div id="callout-complete" class="bs-callout bs-callout-danger" style="border-left-width: 5px; border-radius: 3px;">
            <h1><span class="fa fa-times-circle"></span>&nbsp;&nbsp;&nbsp;&nbsp;Ooops! Something went wrong</h1>
            <br />
            <h4> An unexpected error seems to have occured!</h4>
            <br />
            <p> We've been notified of the error and will correct as soon as possible.</p>
            <p> Please try your request again in a moment.</p>
        </div>

    </div>

</div>


