@{
    ViewBag.Title = "Not Found";
}

<div class="row">

    <div class="col-md-12" role="main">

        <div id="callout-complete" class="bs-callout bs-callout-danger" style="border-left-width: 5px; border-radius: 3px;">
            <h1><span class="fa fa-times-circle"></span>&nbsp;&nbsp;&nbsp;&nbsp;Not Found!</h1>
            <br />
            <h4> We don't found the page you were trying to reach!</h4>
            <br />
            <p> It may occurs because you tried to access the page typing directly the address on address bar.</p>
            <p> Try to use our links and buttons to navigate through the application.</p>
        </div>

    </div>

</div>

