@{
    ViewBag.Title = "Forbidden";
}

<div class="row">

    <div class="col-md-12" role="main">

        <div id="callout-complete" class="bs-callout bs-callout-danger" style="border-left-width: 5px; border-radius: 3px;">
            <h1><span class="fa fa-times-circle"></span>&nbsp;&nbsp;&nbsp;&nbsp;Forbidden!</h1>
            <br />
            <h4> You don't have permission to access that page on this server!</h4>
            <br />
            <p> It may occurs because you tried to access the page directly without pass through to auth page.</p>
            <p> If it is, try to access the root page of the site and authenticate.</p>
        </div>
    </div>

</div>
